@font-face {
    font-family:TT Lakes ;
    src: url(font/TT\ Lakes\ Neue\ Trial\ DemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: TT lakes;
    src: url(font/TT\ Lakes\ Neue\ Trial\ Medium.ttf);
    font-weight: medium;
}

* {
    font-family: TT Lakes;
    color: #1B1C21;
    font-size: 1.1rem;
}

body {
    margin: 0;
}

.side-menu {
    position: fixed;
    top: auto;
    width: 320px;
    height: 100vh;
    box-sizing: border-box;
    padding: 24px;
    box-shadow: 20px 0 40px rgba(0, 0, 0, 0.08);
    width: 320px;
    overflow-y: auto;
    background-color: #FFFFFF;
}

.side-menu__header {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.side-menu__icon {
    border: none;
    box-shadow: none;
    appearance: none;
    background: transparent;
    padding: 0;
}

.logo {
    margin-right: auto;
}

.side-menu__list {
    list-style: none;
    padding: 0;
    margin: 0;

}

.side-menu__nav {
    display: flex;
    margin-top: 50px;
}

.side-menu__link {
    text-decoration: none;
    padding-left: 10px;
    display: inline-block;
    font-weight: 500;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.side-menu__link:hover {
    font-weight: bold;
    opacity: 0.9;
    filter: brightness(0.8);
    text-shadow: 0 3px 6px rgba(0,0,0,0.5);
}

.side-menu__item {
    margin: 20px 0;
}

.side-menu__item {
    position: relative;
}

.side-menu__item:first-child::before {
    content: '';
    position: absolute;
    left: 0;
    height: 25px;
    width: 6px;
    background-color:#41F6D7;
    border-radius: 0 6px 6px 0;
    top: 50%;
    transform: translateY(-50%);
}

.side-menu__contacts{ 
margin-top: 220px;
}

.side-menu__email {
    display: block;
    text-decoration: none;
}

.side-menu__phone {
    text-decoration: none;
}

.side-menu__languages>a {
    text-decoration: none;
    transition: opacity 0.3s ease, filter 0.3s ease;
    }

.side-menu__languages>a:hover {
    filter: brightness(0.7);
    opacity: 0.9;
    font-weight: bold;
}

.side-menu__languages{
    margin-top: 25px;

}

.side-menu__contacts-icon>.side-menu__icon {
    margin-right: 15px;
}

.side-menu__phone {
    display: block;
    font-weight: bold;
}